n8n-workflow.json
{
  "name": "Quote Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "=https://webservicesX.autotask.net/atservicesrest/v1.0/Contacts?$filter=email%20eq%20'{{$json[\"userEmail\"]}}'",
        "responseFormat": "json",
        "options": {}
      },
      "id": "2",
      "name": "Autotask Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "jsonParameters": true,
        "options": {},
        "body": {
          "model": "g-68b63cdfae348191ab5a3632e835d24c-gds-low-voltage-quoting-assistant",
          "messages": [
            {
              "role": "user",
              "content": "={{$json[\"prompt\"]}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/sites/{site-id}/drive/root:/Quotes/{{$json[\"userEmail\"]}}/{{Date.now()}}-file:/content",
        "method": "PUT",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftGraphApi",
        "sendBinaryData": true,
        "binaryPropertyName": "file"
      },
      "id": "4",
      "name": "Upload to SharePoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"gptOutput\": $json[\"choices\"][0][\"message\"][\"content\"]} }}",
        "options": {}
      },
      "id": "5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Autotask Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autotask Lookup": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Upload to SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to SharePoint": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
